.trait {
  padding-bottom: 12px;
}

.vote {
  padding-left: 12px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.container {
  position: relative;
}

.flash-msg {
  z-index: 2;
  display: none;
  position:absolute;
  top: -5%;
  left: 50%;
}